<%= stylesheet_link_tag "style.css" %>

<div id="nav-bar">
  <div id="home">
    <ul>
      <li><%= link_to "R", itineraries_path %></li>
    </ul>
  </div>
  <div id="nav-basic">
    <ul>
      <li><%= link_to "#{current_user.name}\'s Profile", user_path(current_user.id) %></li>
      <li><%= link_to "Create New", new_itinerary_path %></li>
    </ul>
  </div>
</div>

<div id="itinerary-wrap">
  <div id="user-container">
    <div id="user-new">Trip Information</div>
    <div id="user-form">
    <%= form_for :itinerary, url: itineraries_path do |f| %>
        <%= f.text_field :name, :class => "form-field", :placeholder => "Trip Name", :style => "color:black;" %><br>
        <%= f.text_field :photo_url, :class => "form-field", :placeholder => "Trip Photo URL", :style => "color:black;" %><br>
        <%= f.text_field :start_date, :class => "form-field", :placeholder => "Start Month/Day/Year", :style => "color:black;" %><br>
        <%= f.text_field :end_date, :class => "form-field", :placeholder => "End Month/Day/Year", :style => "color:black;" %><br>
        <%= f.text_field :description, :class => "form-field", :placeholder => "Brief Description", :style => "color:black;" %><br>
        <div class="form-field" style="line-height:35px;margin-left:127px;text-align:left;">
        Make trip viewable? <%= f.check_box :public, :class => "form-checkbox"%>
        </div>
        <%= f.submit "Create Itinerary", :id => "login-btn" %>
    <% end %>
    </div>
  </div>
</div>
