<%= stylesheet_link_tag "style.css" %>

<div id="nav-bar">
  <div id="home">
    <ul>
      <li><%= link_to "R", itineraries_path %></li>
    </ul>
  </div>
  <div id="nav-basic">
    <ul>
      <li><%= link_to "#{current_user.name}\'s Profile", user_path(current_user.id) %></li>
      <li><%= link_to "Create New", new_itinerary_path %></li>
    </ul>
  </div>
</div>

<video autoplay loop muted>
  <source src="https://a0.muscache.com/airbnb/static/Belong_p1_v2.webm" type="video/webm">
  <source src="https://a0.muscache.com/airbnb/static/Belong_p1_v2.mp4" type="video/mp4">
</video>

<div id="video-header-container" style="margin-top:120px">
  <div id="video-header"><%= @itinerary.name %></div>
  <div id="video-caption"><%= @itinerary.start_date %> to <%= @itinerary.end_date %></div>
  <div id="itinerary-description"><%= @itinerary.description %></div>
</div>


<div id="itinerary-container">
<% @itinerary.destinations.each do |destination| %>
  <div class="itinerary-list">
  <h1><%= destination.num_of_days %> Days in <%= destination.city %></h1>

  <% if @itinerary.user_id == current_user.id %>
  <div id="itinerary-btn-container">
    <%= button_to "Edit", edit_destination_path(destination), method: "get", :class => "edit-btn" %>
    <%= button_to "Delete", destination_path(destination), method: :delete, data: {confirm: "Are you sure?"}, :class => "delete-btn" %>
    <% if destination.details == [] && @itinerary.user_id == current_user.id %>
      <br><%= button_to "Add Travel Information", new_destination_detail_path(destination), method: "get", :class => "add-btn" %>
    <% end %>
  </div>
  <% end %>

  <% if destination.details != [] then destination.details.each do |detail| %>

  <div class="detail-list">
    <div class="details">
      <h4>Accommodation</h4>
        <h5><%= detail.accommodation_name %> | <%= detail.accommodation_address %> | <%= detail.accommodation_cost %></h5>
          <p>
          <br>Checkin: <%= detail.accommodation_checkin %>
          <br>
          <br>Checkout: <%= detail.accommodation_checkout %>
          </p>
    </div>

    <div class="details">
      <h4>Getting There</h4>
      <h5><%=  detail.transportation_company_number%> <%= detail.transportation_type %> | <%= detail.transportation_cost %> </h5>
        <p>
        <br>Departing <%= detail.transportation_departure_location %> at <%= detail.transportation_departure_datetime %>
        <br>
        <br>Arriving <%= detail.transportation_arrival_location %> at <%= detail.transportation_arrival_datetime %>
        </p>
    </div>

    <% if @itinerary.user_id == current_user.id %>
    <div>
        <%= link_to "Edit", edit_detail_path(detail), method: "get", :style => "text-decoration:none; color:#3472f7; font-family:'Muli', sans-serif; margin-left:20px;" %> |
        <%= link_to "Delete", detail_path(detail), method: :delete, data: {confirm: "Are you sure?"}, :style => "text-decoration:none; color:#ff3b30; font-family:'Muli', sans-serif; margin-left:5px;" %>
    </div>
    <% end %>

</div>
  <% end %>
<% end %>

<div class="detail-list" style="margin-top:10px; margin-bottom:10px;">
<% (1..destination.num_of_days).each do |day| %>
  <div class="days">
    <h2>Day <%= "#{day}" %></h2>

    <% destination.activities.each do |activity| %>

      <% if activity.day_num == day %>
      <div class="activity">
        <h1><%= activity.name %></h1>
          <p><b>Location:</b> <%= activity.location %><br>
          <b>Cost:</b> <%= activity.cost %><br>
          <b>Notes:</b> <%= activity.notes %></p>

        <% if activity.destination.itinerary.user_id == current_user.id %>
          <%= link_to "Edit", edit_activity_path(activity) %> | <%= link_to "Delete", activity_path(activity), method: :delete, data: {confirm: "Are you sure?"}, :style => "color:#ff3b30;" %>
        <% end %>

      </div>
      <% end %>

    <% end %>

    <% if destination.itinerary.user_id == current_user.id %>
      <%= link_to "Add", new_destination_activity_path(destination, :day_num => day), method: "get", :style => "text-decoration:none; color:#3472f7; font-family:'Muli', sans-serif; margin-left:5px;" %>
    <% end %>

  </div>
  <% end %>

</div>
<% end %>

<%if @itinerary.user_id == current_user.id %>
  <%= link_to "Add Destination", new_itinerary_destination_path(@itinerary), :style => "text-decoration:none; color:#3472f7; font-family:'Muli', sans-serif; margin-left:5px;" %>
<% end %>

  <div class="detail-list">
    <div class="days" style="margin-bottom: -30px;">
      <div class="activity">
        <h2>Comments</h2>
          <%= render partial: 'itineraries/comment', collection: @itinerary.comments %>
        </div>
      </div>

      <%= render partial: 'comments/form' %>

  </div>
</div>
