<%= link_to "Rendezvous (Home)", itineraries_path %> | <%= link_to "#{current_user.name}", current_user %>

<div>
  <h4><%= @itinerary.name %></h4>
  <img src='<%= @itinerary.photo_url %>'>
  <p><b><%= @itinerary.start_date %> to <%= @itinerary.end_date %></b></p>
  <p><%= @itinerary.description %></p>
</div>

<% @itinerary.destinations.each do |destination| %>
    <div style="border:1px solid red">
      <h3><%= destination.num_of_days %> Days in <%= destination.city %></h3>
      <% if @itinerary.user_id == current_user.id %>
        <%= link_to "Edit Destination", edit_itinerary_destination_path(@itinerary, destination) %> | <%= link_to "Delete Destination", itinerary_destination_path(@itinerary, destination), method: :delete, data: {confirm: "Are you sure?"} %>
      <% end %>
      <% (1..destination.num_of_days).each do |day| %>
        <div style="border:solid 1px blue">
          <h4>Day <%= "#{day}" %></h4>
        </div>
      <% end %>
    </div>
<% end %>

<%if @itinerary.user_id == current_user.id %>
  <%= link_to "Add Destination", new_itinerary_destination_path(@itinerary) %>
<% end %>
