<%= stylesheet_link_tag "style.css" %>

<!--
Add slideshow background functionality if time:
http://michaelsoriano.com/create-rotating-full-paged-background-images-with-css-and-jquery/

<div id="slideshow">
  <img src="https://a2.muscache.com/locations/uploads/photo/image/13492/0_4200_0_2801_one_Raval_FPoli__PL_9573.jpg" class="bgM"/>
  <img src="https://a1.muscache.com/locations/uploads/city/hero/22/0_2831_95_1567_hero_USA_Manhattan_Skyline_061_EO.jpg/images/b3.jpg" class="bgM"/>
  <img src="https://a0.muscache.com/locations/uploads/city/hero/25/0_4200_613_2797_hero_southbeach_Cattarossi___MG_5350.jpg" class="bgM"/>
  <img src="https://a0.muscache.com/locations/uploads/city/hero/38/0_2000_147_1187_hero_Neigborhoods_Tel-Aviv_Vaaknin_150812_0413_HR1_-_cropped_-_3__1_.jpg" class="bgM"/>
  <img src="https://a0.muscache.com/locations/uploads/city/hero/17/0_5094_418_3067_hero_IMG_0997.jpg" class="bgM"/>
  <img src="https://a0.muscache.com/locations/uploads/city/hero/48/0_4200_458_2642_hero_LakeTahoe_NorthTahoe_LeBlanc_7776_copy.jpg" class="bgM"/>
</div>
-->

<div id="login-wrap">
  <div id="user-container">
    <div id="user-new">Welcome Back</div>
    <div id="user-form">
      <%= form_tag '/login' do %>
        <%= text_field_tag(:email, nil, class: "form-field", placeholder: "Email") %><br>
        <%= password_field_tag(:password, nil, class: "form-field", placeholder: "Password") %>
        <%= submit_tag "Rendezvous", :id => "login-btn" %>
      <% end %>
    </div>
  </div>
</div>
