<div id="user-form">
  <%= form_for @user do |f| %>

    <% if @user.errors.any? %>
      <div id="error">
        <% @user.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
          <% end %>
      </div>
    <% end %>
  <div id="user_form">
    Name <%= f.text_field :name, :class => "form-field", :placeholder => "First Last", :style => "color:black;" %><br>
    Photo URL <%= f.text_field :photo_url, :class => "form-field", :placeholder => "Profile Photo URL", :style => "color:black;" %><br>
    City <%= f.text_field :city, :class => "form-field", :placeholder => "City, State", :style => "color:black;" %><br>
    Email <%= f.text_field :email, :class => "form-field", :placeholder => "Email", :style => "color:black;" %><br>
    Password <%= f.password_field :password, :class => "form-field", :placeholder => "Password", :style => "color:black;" %><br>
    Confirm <%= f.password_field :password_confirmation, :class => "form-field", :placeholder => "Re-Type Password", :style => "color:black;" %><br>
    <%= f.submit "Submit", :class => "submit-btn" %>
  </div>
<% end %>
</div>
