<%= stylesheet_link_tag "style.css" %>

<div id="nav-bar">
  <div id="home">
    <ul>
      <li><%= link_to "R", itineraries_path %></li>
    </ul>
  </div>
  <div id="nav-basic">
    <ul>
      <li><%= link_to "#{current_user.name}\'s Profile", user_path(current_user.id) %></li>
      <li><%= link_to "Create New", new_itinerary_path %></li>
    </ul>
  </div>
</div>

<div id="detail-wrap">
  <div id="user-container" style="margin-top:10px;">
    <div id="user-new">Travel Details</div>
    <div id="video-caption" style="margin-top:-10px;margin-bottom:30px;">Please add the following for a thorough itinerary:</div>
    <div id="user-form">
      <%= form_for :detail, url: destination_details_path do |f| %>
        <h4>Accommodation Information</h4>
        <%= f.text_field :accommodation_name, :class => "form-field", :placeholder => "Accommodation Name", :style => "color:black;" %><br>
        <%= f.text_field :accommodation_address, :class => "form-field", :placeholder => "Address", :style => "color:black;" %><br>
        <%= f.text_field :accommodation_checkin, :class => "form-field", :placeholder => "Checkin Date & Time", :style => "color:black;" %><br>
        <%= f.text_field :accommodation_checkout, :class => "form-field", :placeholder => "Checkout Date & Time", :style => "color:black;" %><br>
        <%= f.text_field :accommodation_cost, :class => "form-field", :placeholder => "Cost", :style => "color:black;" %><br>
        <%= f.text_field :accommodation_notes, :class => "form-field", :placeholder => "Notes", :style => "color:black;" %><br>

        <h4>Transportation Information</h4>
        <%= f.text_field :transportation_type, :class => "form-field", :placeholder => "Type (Flight/Train/Drive)", :style => "color:black;" %><br>
        <%= f.text_field :transportation_company_number, :class => "form-field", :placeholder => "Company & number (e.g., UA 1005)", :style => "color:black;" %><br>
        <%= f.text_field :transportation_departure_location, :class => "form-field", :placeholder => "Departure Airport/Station", :style => "color:black;" %><br>
        <%= f.text_field :transportation_departure_datetime, :class => "form-field", :placeholder => "Departure Date & Time", :style => "color:black;" %><br>
        <%= f.text_field :transportation_arrival_location, :class => "form-field", :placeholder => "Arrival Airport/Station", :style => "color:black;" %><br>
        <%= f.text_field :transportation_arrival_datetime, :class => "form-field", :placeholder => "Arrival Date & Time", :style => "color:black;" %><br>
        <%= f.text_field :transportation_cost, :class => "form-field", :placeholder => "Cost", :style => "color:black;" %><br>
        <%= f.submit "Submit Details", :id => "login-btn" %>
      <% end %>
    </div>
  </div>
</div>
